@use "../abstract/index" as *;

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #1e272c;
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem;
  scroll-behavior: smooth;
  line-height: 1.5;
  background-image: url("/bg-app.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;

  img {
    max-width: 100%;
  }
}


.container {
  width: 100%;
  max-width: 120rem;
  margin-top: 5rem;

  @media (max-width: $sm) {
    margin-top: 1rem;
    padding-bottom: 5rem;
  }
}

.bubble-information {
  appearance: none;
  cursor: pointer;
  border: none;
  color:$white;
  position: absolute;
  right: -1rem;
  background-color: #37474f;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 600;
}