@use "variables" as *;

body {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("../bg-app.jpg");
  background-color: #070301;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 1.6rem;
  padding: 5rem;
  scroll-behavior: smooth;
  line-height: 1.5;

  @media (max-width: $sm) {
    padding: 2rem;
  }
}

section {
  margin-bottom: 1rem;

  h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
  }
}


.characteristics-grid {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center;

  .characteristics_input {
    font-weight: 600;
    background-color: transparent;
    border: 1px solid transparent;
    color: $white;
    outline: none;
    text-align: left;
    transition: all .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 3rem;
    display: block;
    margin: 0 auto;

    &:hover, &:focus {
      background-color: #fcf5d2;
      border: 1px solid #fcf5d2;
      color: #000;
      outline: none;
    }
  }

  li {
    border: 1px solid #746c62;
    margin-left: -1px;
    padding: 2rem;
    width: 100%;
    font-weight: 600;
    position: relative;

    &.bg-color {
      background-color: $orange;

      b {
        color: $white;
      }
    }

    b {
      color: $white;
      display: block;
      font-size: 3rem;
      font-weight: 800;
    }

    span {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      text-transform: uppercase;
    }
  }

}


.square-section {
  background-color: rgba(173, 166, 143, 0.1);
  border: 1px solid #6F6969;
  padding: 6rem 3rem 3rem;
  position: relative;
  width: 100%;
  margin-bottom: 2rem;

  &:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 1px solid rgba(#6F6969, .8);
    z-index: -1;
  }

  @media (max-width: $sm) {
    padding: 6rem 1rem 1rem;
  }

  &.simple {
    border: 1px solid $pink;
    background-color: rgba($pink, .1);

    &:after {
      display: none;
    }

    .btn {
      background-color: $pink;
      color: $black;
    }
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  h4 {
    background-color: #6F6969;
    color: $white;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .6rem 1rem;
    text-transform: uppercase;
  }

  h5 {
    background-color: $pink;
    color: $black;
    font-size: 1rem;
    font-weight: 600;
    padding: .6rem 1rem;
    text-transform: uppercase;
    height: 3rem;
  }
}

.listing {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  overflow: hidden;

  .add-line {
    text-align: right;
    width: 4.5rem;
    font-weight: 800;
    background: #1C1C1C;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

  &-item {
    background-color: #202020;
    border: 1px solid rgba($white, .1);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 1rem;
    position: relative;
    white-space: nowrap;
    width: 100%;
    align-items: center;
  }
}


.align-items-stretch {
  align-items: stretch !important;
}

.d-flex {
  display: flex !important;
}


.container {
  width: 100%;
  max-width: 132rem;
  margin-top: 10rem;
}

.form-check-input {
  appearance: none;
  background-color: $white;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid $white;
  flex-shrink: 0;
  height: 1.6rem;
  margin-top: .25em;
  print-color-adjust: exact;
  vertical-align: top;
  width: 1.6rem;
  margin-left: 0;
  margin-right: 1rem;
  cursor: pointer;

  &:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3E%3C/svg%3E");
  }

  &:checked {
    background-color: $orange;
    border-color: $orange;
  }
}


.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;

  ul {
    width: 100%;
    max-width: 132rem;
    list-style: none;
    margin: 2rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 1rem;
    }

    a {
      color: $orange;
      font-weight: 800;
      text-decoration: none;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }
}


.invisible_input {
  font-family: "Spectral", serif;
  appearance: none;
  background: transparent;
  border: none;
  color: $white;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all .25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding: 0;
  width: 50%;

  &:hover, &:focus {
    background-color: #fcf5d2;
    color: #000;
    outline: none;
    padding-right: .5rem;
  }
}

.btn {
  font-size: 1.4rem;
  background-color: $orange;
  color: $white;
  font-weight: 600;
  appearance: none;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0;
  cursor: pointer;

  &:hover, :focus {
    outline: none;
    background-color: $pink;
    transition: all .25s ease-in-out;
  }

  &-full {
    width: 100%;
  }

  &-text {
    background-color: transparent;
    color: $white;
  }

  &-small {
    height: 3rem;
    padding: .5rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
  }
}

.text-right {
  text-align: right;
}

.dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(41, 35, 27, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);

}

.dialog {
  box-shadow: 0 0 120px $black;
  width: 100%;
  max-width: 50rem;
  padding: 3rem;
  transition: all .25s ease-in-out;
  background-color: rgba(173, 166, 143, 0.3);
  border: 1px solid #6F6969;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 1px solid rgba(#6F6969, .8);
    z-index: -1;
  }

  @media (max-width: $sm) {
    width: 90%;
  }

  .body {
    padding-top: 2rem;
  }

  footer {
    padding-top: 2rem;
  }

  header {
    position: absolute;
    top: 0;
    right: 0;

    button {
      appearance: none;
      background-color: transparent;
      border: none;
      font-size: 2rem;
      color: $white;
      padding: 1rem;
      width: 5rem;
      cursor: pointer;
    }
  }
}

.input {
  font-size: 1.6rem;
  font-family: "Spectral", serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba($black, .4);
  border: 1px solid rgba($white, .3);
  color: $white;
  margin-bottom: -1px;
  outline: none;
  padding: 1rem;
  transition: all .25s ease-in-out;
  width: 100%;

  &-invisible {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &.select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
  }

  &.textarea {
    height: 20rem;
  }
}

.small-label {
  font-family: sans-serif;
  display: inline-block;
  background-color: transparent;
  font-size: 1.1rem;
  color: $white;
  text-transform: uppercase;
  padding: 0;
  font-weight: 600;
}

.form-control {
  margin-bottom: 2rem;
}


.intro-page {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  img {
    margin-bottom: 3rem;
  }

  &__inner {
    max-width: 400px;
    padding: 3rem;
    text-align: center;
  }

  .login-input {
    appearance: none;
    border: 1px solid rgba($white, 0.5);
    border-top: none;
    background: transparent;
    height: 5rem;
    padding: 0 1rem;
    width: 100%;
    color: $white;
    outline: none;
    border-radius: 0;
    font-size: 1.6rem;

    &:first-child {
      border-top: 1px solid rgba($white, 0.5);
    }

    &:hover {
      outline: none;
      border-color: rgba($white, 0.7);
    }
  }

  .login-submit-parent {
    position: relative;
    height: 5rem;
    width: 100%;
    margin-top: 3rem;


    .login-submit {
      appearance: none;
      background: $orange;
      border: none;
      color: $white;
      padding: 5px 25px;
      border-radius: 2rem;
      height: 3.5rem;
      font-size: 1.6rem;

      &:hover {
        background-color: #fff;
        color: $orange;
        padding: 5px 30px;
        border-radius: 2rem;
      }
    }
  }
}