@use "../abstract/index" as *;

.intro-page {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  img {
    margin-bottom: 3rem;
  }

  &__inner {
    max-width: 400px;
    padding: 3rem;
    text-align: center;
  }

  .login-input {
    font-family: "Montserrat", sans-serif;
    appearance: none;
    border: 1px solid rgba($white, 0.5);
    border-top: none;
    background: transparent;
    height: 5rem;
    padding: 0 1rem;
    width: 100%;
    color: $white;
    outline: none;
    border-radius: 0;
    font-size: 1.6rem;

    &:first-child {
      border-top: 1px solid rgba($white, 0.5);
    }

    &:hover {
      outline: none;
      border-color: rgba($white, 0.7);
    }
  }

  .login-submit-parent {
    position: relative;
    height: 5rem;
    width: 100%;
    margin-top: 3rem;


    .login-submit {
      appearance: none;
      background: $green;
      border: none;
      color: $white;
      padding: 5px 25px;
      border-radius: 2rem;
      height: 3.5rem;
      font-size: 1.6rem;

      &:hover {
        background-color: #fff;
        color: $green;
        padding: 5px 30px;
        border-radius: 2rem;
      }
    }
  }
}

.input-auto {
  position: relative;

  .icn {
    position: absolute;
    left: 14px;
    top: 14px;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .input {
    padding-left: 4rem;
  }

  &__list {
    background-color: rgb(58, 58, 52);
    border: 1px solid hsla(0, 0%, 100%, .3);
    left: 0;
    list-style: none;
    max-height: 30rem;
    overflow-y: auto;
    padding: 1rem;
    position: absolute;
    top: 4.5rem;
    width: 100%;
    z-index: 100;

    li {
      color: $white;
      cursor: pointer;
      padding: 5px;

      &:hover {
        color: #ec2e4a;
      }
    }
  }
}