@use "../abstract/index" as *;

.dialog-box {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(41, 35, 27, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
}

.dialog {
  box-shadow: 0 0 120px #169588;
  width: 100%;
  max-width: 50rem;
  padding: 3rem;
  transition: all .25s ease-in-out;
  background-color: #263238;
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba($white, .2);
  color:$white;

  @media (max-width: $sm) {
    width: 100%;
    border-radius: 0;
    height: 100%;
    overflow: hidden;
    overflow-y:auto;
  }

  &.large {
    max-width: 80rem;
    width: 80%;

    @media (max-width: $sm) {
      width: 100%;
      max-width: 100%;
    }
  }

  .body {
    padding-top: 2rem;

    &.with-search {
      padding-top: 11rem;
    }
  }

  footer {
    padding-top: 2rem;
  }

  header {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 5;

    @media (max-width: $sm) {
      top: 0;
      right: 0;
    }

    button {
      appearance: none;
      background-color: $pink;
      border: none;
      font-size: 2rem;
      color: $white;
      width: 3rem;
      height: 3rem;
      line-height: 27px;
      cursor: pointer;
      border-radius: 50%;

      @media (max-width: $sm) {
        z-index: 99;
        top: 0;
        right: 0;
        position: fixed;
        border-radius: 0;
      }
    }
  }

  &__search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $black;
    padding: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px 8px 0 0;
    margin: 0;
  }
}