@use "../abstract/index" as *;

.listing {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  overflow: hidden;

  .add-line {
    text-align: right;
    width: 4.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-item {
    background-color: rgba(0, 0, 0, 0.1019607843);
    border: 1px solid #37474f;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 1rem;
    position: relative;
    white-space: nowrap;
    width: 100%;
    align-items: center;
  }
}